@import '../base/variables.scss';

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: center;
    align-items: center;

    padding: 32px 128px 32px 128px;

    .header-home {
        display: flex;
        flex-direction: column;

        align-items: center;

        h1 {
            text-align: center;
        }

        .go-to-library {
            margin-top: 16px;

            height: 60px;
            width: 50%;

            font-size: 22px;

            color: white;
            background-color: $primary-color;

            border: none;
            border-radius: 16px;

            transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.6);
            }
        }
    }


    .description-project {
        text-align: center;
        margin-top: 8px;
        font-size: 22px;

        width: 700px;
    }

    h1 {
        margin-top: 32px;
        font-size: 40px;
    }

    .topics-header {
        text-align: center;
    }


    .topics {
        display: flex;
        flex-wrap: wrap;
        gap: 32px; /* Расстояние между блоками */
        justify-content: center;

        box-sizing: border-box;
    
        .topic {
            display: flex;
            flex-direction: column;

            border: 0.5px solid #cccccca1; /* Серый цвет обводки */
            border-radius: 32px; /* Закругление углов */
            transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

            justify-content: center;
            align-items: center;

            max-width: 300px;
            gap: 16px;
            padding: 32px;

            cursor: pointer;

            p {
                text-align: center;
            }

            .topic-icon {   
                font-size: 64px;
            }

            .topic-title {
                font-size: 32px;
            }

            &:hover {
                transform: scale(1.05); /* Немного увеличивается */
                box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.6); /* Эффект свечения */
            }
        } 
    }
}
