@import "../base/variables.scss";

.toggle-points-checkbox {
  position: absolute;
  bottom: 20px;
  left: 20px;

  display: flex;
  align-items: center;

  gap: 8px;

  padding: 10px 15px;
  border-radius: 8px;

  z-index: 100;
  user-select: none;
}

.toggle-points-checkbox input {
  display: none;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  background-color: #f9f9f9;
  border: 0.2px solid #ccc;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.15s, border-color 0.15s;
}

.toggle-points-checkbox input:checked + .custom-checkbox {
  background-color: $main-color;
  border-color: $main-color;
}

.toggle-points-checkbox input:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 5.5px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}