@import '../base/variables.scss';

.navbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background-color: #fff;

  .navbar-container {
    grid-column: 2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      color: #3754ed;
      font-size: 24px;
      font-weight: 900;
      user-select: none;
      cursor: pointer;
    }
  }
}

.navbar-buttons {
  display: flex;
  gap: 72px;

  flex-direction: row;

  align-items: center;

  .sections {
    display: flex;
    gap: 24px;
    align-items: center;

    color: $primary-color;
    font-weight: 400;

    * {
      cursor: pointer;
    }
  }
}

.login-button {
  border: solid 0.2px $primary-color;
  padding: 8px 12px;
  border-radius: 12px;
  color: $primary-color;
  font-size: 16px;
  background-color: #fff;
  font-weight: 600;
  transition: box-shadow .2s ease-in;

  cursor: pointer;

  &:hover {
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s ease-out;
  }
}

.profile-info {
  position: relative;
  cursor: pointer;
}

.admin-logo {
  margin-right: 8px;
  display: inline-flex;
  font-weight: 800;
  font-size: 14px;
  background-color: $primary-color;
  color: #fff;
  width: 20px;
  height: 20px;
  align-items: center;
justify-content: center;
  border-radius: 4px;
}