@import '../../base/variables.scss';

.searchbar {
  height: 45px;
  border-radius: 11px;
  border: 0.2px solid #c5cace;
  background: #eef3f7;
  box-shadow: 0 0 25px 0 rgba(55, 84, 237, 0.05);
  color: rgba(8, 14, 41, 0.6);
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 250px;

  input {
    width: 100%;
    font-size: 20px;
    height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
    background: none;
    padding: 0 0px 0px 18px;
    &::placeholder {
      font-size: 20px;
      font-weight: 400;
      color: rgba(8, 14, 41, 0.5);
    }
  }

  .searchButton {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px 0 16px;
    cursor: pointer;
  }
}

.info-bar-container {
    padding: 13px;
    background: $primary-gradient;
    border-radius: 24px;

    .info-container {
        padding-top: 10px;
        color: #fff;

        padding-left: 4px;

        .organ-title {
            font-size: 32px;
            font-weight: 600;
        }

        .organ-category {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.point-menu {
  flex: 1;

  .close-button {
    position: absolute;
    top: 5vh;
    right: 38%;
    height: 50px;
    background: url('/src/assets/images/close.svg') center no-repeat;
    width: 40px;
    background-color: #131B62; 
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
  }

  .close-button-open {
    transform: rotate(180deg);
  }

  .hint-menu {
    position: fixed;
    right: 38%;
    top: 30vh;
    background: #F8F8F8; 
    border-radius: 12px; 
    border: 0.20px #C5CACE solid;
    padding: 15px;
    line-height: 26px;
    z-index: 15;

    .span-comb {
      color: #3754ED;
      font-size: 20px;
      font-weight: 700;
      word-wrap: break-word
    }

    .span-other {
      color: #3754ED;
      font-weight: 600;
      word-wrap: break-word
    }
  }

  .menu-container {
    width: 100%;
    height: 70.5vh;
    position: relative;
    box-sizing: border-box; 
    margin-top: 14px;
    padding: 20px;
    box-shadow: 0px 0px 25px rgba(55, 84, 237, 0.05); 
    border-radius: 24px; 
    overflow: hidden;
    overflow-y: auto;
    border: 0.20px #C5CACE solid;
    background: #EEF3F7;

    .point-menu-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      width: 100%;
      height: 100%;

      .input-title {
        height: 12%;
        width: 100%;
        border-radius: 10px;
        padding: 5px 18px 5px 18px;
        box-sizing: border-box; 
        border: 1px solid #ccc;
        outline: none;
        font-size: 20px;
      }
  
      .input-info {
        resize: none;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        padding: 14px 18px 18px 18px;
        box-sizing: border-box; 
        border: 1px solid #ccc;
        outline: none;
        font-size: 20px;
      }
  
      .point-info-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        
        .save-button {
          width: 45%; 
          height: 53px;
          background: #3754ED;
          box-shadow: 0px 0px 9px 3px rgba(40, 63, 186, 0.25) inset;
          border-style: none;
          border-radius: 10px;
          color: white;
          font-size: 20px;
          font-weight: 700;
          cursor: pointer;
        }
  
        .del-button {
          width: 45%; 
          height: 53px;
          background: #F8F8F8;
          box-shadow: 0px 0px 10px rgba(40, 63, 186, 0.10) inset;
          border-radius: 10px;
          border: 0.20px #C5CACE solid;
          color: #3754ED;
          font-size: 20px;
          font-weight: 700;
          word-wrap: break-word;
          cursor: pointer;
        }
  
        .save-button:active, .del-button:active {
          background-color: #3755ed88;
        }
      }
    }
  
    .point-info-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;
      padding: 14px 20px 14px 20px;
      overflow: hidden;
      overflow-y: auto;
      white-space: pre-wrap;
      overflow: auto;
      overflow-wrap: break-word;
      hyphens: auto;
      pre {
       font-size:large;
      }
    }

    .point-search-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      font-size: 20px;
      overflow-y: auto;
      
      h3 {
        color: #C5CACE;
      }

      .search-item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 0.20px #C5CACE solid;
        background-color: white;
        height: 120px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        user-select: none;

        .item-title {

        }

        .item-description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 400px;
        }
      }
    }
  }
}

