@import 'vars';

* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans';
}

body {
    overflow: hidden;
}

.openseadragon-viewer {
    display: flex;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    height: 90vh;
}

.openseadragon-container :focus {
    outline: none;
}

.overlay {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}

.map-container {
    display: flex;
    position: relative;
}

.menu {
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 12vh;
    left: 58%;
    width: 40%;
    height: 76vh;
    max-height: 76vh;
    overflow-y: auto;
    border-radius: 20px;
    padding: 2%;
    box-sizing: border-box; 
    box-shadow: $box-shadow-menu;

    .menu-content {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .style-text {
            white-space: pre-wrap;
            overflow: visible;
            overflow-wrap: break-word;
            hyphens: auto;
        }
    }


    &::-webkit-scrollbar {
        width: 0px;
    }
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    h1, input {
        width: 90%;
    }
}

.close-button {
    width: 25px;
    height: 25px;
    padding-top: 40px;
    background: url('/src/imgs/close-button.svg') center no-repeat;
    background-color: white;
    border: none;
    cursor: pointer;
}

.menu-button {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 3vh;
    right: 2%;
    background: url('/src/imgs/search-icon-focus.svg') center no-repeat;
    background-color: white;
    border: none;
    box-shadow: $box-shadow-menu;
    border-radius: 10px;
}

.menu-button-close {
    display: none;
}

.zoom-buttons {
    width: 50px;
    border: none;
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(237deg, #518BE9 10.83%, #4670B4 89.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.zoombar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 25px;
    gap: 20px;
    background-color: white;
    border-radius: 44px;
    box-shadow: $box-shadow-menu;
    width: 70px;
    height: 140px;
    flex-shrink: 0;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding-left: 60px;
    left: 59%;
    top: 3vh;
    gap: 20px;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    box-shadow: $box-shadow-menu;
    background: #FFF;
    background-image: url("/src/imgs/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 25px center;
    backdrop-filter: blur(15px);
    font-size: 16px;
    width: 37.5%;
    height: 50px;
    flex-shrink: 0;
    outline: none;
}

.modal-point {
    top: 3vh;
    height: 85vh;
    max-height: 85vh;
    overflow-y: hidden;
}

.input-title {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 20px;

    &:focus {
        border-bottom: 1px solid #518BE9;
    }
}

.input-description {
    height: 55vh;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    outline: none;
}

.button-save {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #518BE9;
    color: white;
    font-size: 20px;
    cursor: pointer;
}