@import 'vars';

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 3vh;
    left: 10%;
    gap: 30px;
    background-color: white;
    border-radius: 44px;
    box-shadow: $box-shadow-menu;
    width: 280px;
    height: 60px;
    flex-shrink: 0;

    .arrow-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border-style: none;
        box-shadow: $box-shadow-menu;
        cursor: pointer;
        background: url('/src/imgs/arrow-tool.svg') center no-repeat;
    }

    .add-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border-style: none;
        box-shadow: $box-shadow-menu;
        cursor: pointer;
        background: url('/src/imgs/add-tool.svg') center no-repeat;
    }

    .pen-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border-style: none;
        box-shadow: $box-shadow-menu;
        cursor: pointer;
        background: url('/src/imgs/pen-tool.svg') center no-repeat;
    }

    .del-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border-style: none;
        box-shadow: $box-shadow-menu;
        cursor: pointer;
        background: url('/src/imgs/del-tool.svg') center no-repeat;
    }
}