@font-face {
    font-family: 'OpenSans';
    src: url("/src/styles/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url("/src/styles/fonts/NunitoSans.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url("/src/styles/fonts/NunitoSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
