@import '../vars/vars';

.navbar {
    display: flex;
    padding-inline: 70px;
    height: 70px;
    justify-content: space-between;
    box-shadow: $box-shadow-navbar;
    align-items: center;
    z-index: 1;
    position: relative;
    border-bottom: 0.5px solid #f1f1f1;
}

.navbar svg {
    height: 30px;
    width: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 55px;
}

.navbar li {
    color: #4670B4;
}