.form-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 40%;

    h1 {
        margin-bottom: 20px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .name-container {
        display: flex;
        flex-direction: column;
    }

    .file-container {
        display: flex;
        flex-direction: column;
    }
}